<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.mybatis.dao.ClassStudentMapper" >
  <resultMap id="BaseResultMap" type="com.iclass.mybatis.po.ClassStudent" >
    <constructor >
      <idArg column="ClassStudentID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClassID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="StudentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ClassStudentID, ClassID, StudentCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from class_student
    where ClassStudentID = #{classstudentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from class_student
    where ClassStudentID = #{classstudentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclass.mybatis.po.ClassStudent" >
    insert into class_student (ClassStudentID, ClassID, StudentCode
      )
    values (#{classstudentid,jdbcType=INTEGER}, #{ClassID,jdbcType=INTEGER}, #{studentcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iclass.mybatis.po.ClassStudent" >
    insert into class_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classstudentid != null" >
        ClassStudentID,
      </if>
      <if test="classid != null" >
        ClassID,
      </if>
      <if test="studentcode != null" >
        StudentCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classstudentid != null" >
        #{classstudentid,jdbcType=INTEGER},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="studentcode != null" >
        #{studentcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclass.mybatis.po.ClassStudent" >
    update class_student
    <set >
      <if test="classid != null" >
        ClassID = #{classid,jdbcType=VARCHAR},
      </if>
      <if test="studentcode != null" >
        StudentCode = #{studentcode,jdbcType=VARCHAR},
      </if>
    </set>
    where ClassStudentID = #{classstudentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclass.mybatis.po.ClassStudent" >
    update class_student
    set ClassID = #{classid,jdbcType=VARCHAR},
      StudentCode = #{studentcode,jdbcType=VARCHAR}
    where ClassStudentID = #{classstudentid,jdbcType=INTEGER}
  </update>
  <select id="selectByClassID" resultType="com.iclass.mybatis.po.ClassStudent">
    select
    <include refid="Base_Column_List" />
    from class_student
    where ClassID = #{classID}
  </select>
</mapper>