<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.mybatis.dao.IclassfileClassMapper" >
  <!--开启缓存-->
  <cache/>
  <resultMap id="BaseResultMap" type="com.iclass.mybatis.po.IclassfileClass" >
    <constructor >
      <idArg column="FileClassID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="FileCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClassCourseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    FileClassID, FileCode, ClassCourseId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iclassfile_class
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iclassfile_class
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclass.mybatis.po.IclassfileClass" >
    insert into iclassfile_class (FileClassID, FileCode, ClassCourseId)
    values (#{fileclassid,jdbcType=INTEGER}, #{filecode,jdbcType=VARCHAR},#{classcourseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.iclass.mybatis.po.IclassfileClass" >
    insert into iclassfile_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileclassid != null" >
        FileClassID,
      </if>
      <if test="filecode != null" >
        FileCode,
      </if>
      <if test="classcourseid != null" >
        ClassCourseId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileclassid != null" >
        #{fileclassid,jdbcType=INTEGER},
      </if>
      <if test="filecode != null" >
        #{filecode,jdbcType=VARCHAR},
      </if>
      <if test="classcourseid != null" >
        #{classcourseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclass.mybatis.po.IclassfileClass" >
    update iclassfile_class
    <set >
      <if test="filecode != null" >
        FileCode = #{filecode,jdbcType=VARCHAR},
      </if>
      <if test="classcourseid != null" >
        ClassCourseId = #{classcourseid,jdbcType=INTEGER},
      </if>
    </set>
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclass.mybatis.po.IclassfileClass" >
    update iclassfile_class
    set FileCode = #{filecode,jdbcType=VARCHAR},
      ClassCourseId = #{classcode,jdbcType=INTEGER},
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </update>
  <select id="selectByClassCourseId" resultType="com.iclass.mybatis.po.IclassfileClass">
    SELECT
    <include refid="Base_Column_List" />
    from iclassfile_class
    where ClassCourseId = #{classcourseid,jdbcType=INTEGER} limit #{start}, #{length}
  </select>
  <select id="selectByClassCourseIdNoLimit" resultType="com.iclass.mybatis.po.IclassfileClass">
    SELECT
    <include refid="Base_Column_List" />
    from iclassfile_class
    where ClassCourseId = #{classcourseid,jdbcType=INTEGER}
  </select>

  <select id="countByClassCourseIdAndFileType" resultType="java.lang.Integer" >
    SELECT
    count(*)
    FROM iclassfile_class
    WHERE
    ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND
    FileCode IN
    (
      select FileCode from iclassfiles where Filetype = #{filetype}
    )
  </select>
</mapper>