<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.mybatis.dao.IclassfileClassMapper" >
  <!--开启缓存-->
  <cache/>
  <resultMap id="BaseResultMap" type="iclassfileClass" >
    <constructor >
      <idArg column="FileClassID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="FileCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClassCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CourseCode" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    FileClassID, FileCode, ClassCode, CourseCode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iclassfile_class
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iclassfile_class
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="iclassfileClass" >
    insert into iclassfile_class (FileClassID, FileCode, ClassCode, 
      CourseCode)
    values (#{fileclassid,jdbcType=INTEGER}, #{filecode,jdbcType=VARCHAR}, #{classcode,jdbcType=VARCHAR}, 
      #{coursecode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="iclassfileClass" >
    insert into iclassfile_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fileclassid != null" >
        FileClassID,
      </if>
      <if test="filecode != null" >
        FileCode,
      </if>
      <if test="classcode != null" >
        ClassCode,
      </if>
      <if test="coursecode != null" >
        CourseCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fileclassid != null" >
        #{fileclassid,jdbcType=INTEGER},
      </if>
      <if test="filecode != null" >
        #{filecode,jdbcType=VARCHAR},
      </if>
      <if test="classcode != null" >
        #{classcode,jdbcType=VARCHAR},
      </if>
      <if test="coursecode != null" >
        #{coursecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="iclassfileClass" >
    update iclassfile_class
    <set >
      <if test="filecode != null" >
        FileCode = #{filecode,jdbcType=VARCHAR},
      </if>
      <if test="classcode != null" >
        ClassCode = #{classcode,jdbcType=VARCHAR},
      </if>
      <if test="coursecode != null" >
        CourseCode = #{coursecode,jdbcType=VARCHAR},
      </if>
    </set>
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="iclassfileClass" >
    update iclassfile_class
    set FileCode = #{filecode,jdbcType=VARCHAR},
      ClassCode = #{classcode,jdbcType=VARCHAR},
      CourseCode = #{coursecode,jdbcType=VARCHAR}
    where FileClassID = #{fileclassid,jdbcType=INTEGER}
  </update>
  <select id="selectByClassCodeAndCourseCode" resultType="iclassfileClass">
    SELECT
    <include refid="Base_Column_List" />
    from iclassfile_class
    where ClassCode = #{classcode,jdbcType=VARCHAR} and CourseCode = #{coursecode,jdbcType=VARCHAR}
  </select>
</mapper>