<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.mybatis.dao.RollcallMapper" >
  <resultMap id="BaseResultMap" type="com.iclass.mybatis.po.Rollcall" >
    <constructor >
      <idArg column="RollCallID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClassCourseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="StudentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="TeacherCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="RollCallTime" jdbcType="TIMESTAMP" javaType="java.lang.String" />
      <arg column="RollCallStatus" jdbcType="VARCHAR" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    RollCallID, ClassCourseId, StudentCode, TeacherCode, RollCallTime, RollCallStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rollcall
    where RollCallID = #{rollcallid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rollcall
    where RollCallID = #{rollcallid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclass.mybatis.po.Rollcall" >
    insert into rollcall (RollCallID, ClassCourseId, StudentCode, 
      TeacherCode, RollCallTime, RollCallStatus
      )
    values (#{rollcallid,jdbcType=INTEGER}, #{classcourseid,jdbcType=INTEGER}, #{studentcode,jdbcType=VARCHAR}, 
      #{teachercode,jdbcType=VARCHAR}, #{rollcalltime,jdbcType=TIMESTAMP}, #{rollcallstatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iclass.mybatis.po.Rollcall" >
    insert into rollcall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rollcallid != null" >
        RollCallID,
      </if>
      <if test="classcourseid != null" >
        ClassCourseId,
      </if>
      <if test="studentcode != null" >
        StudentCode,
      </if>
      <if test="teachercode != null" >
        TeacherCode,
      </if>
      <if test="rollcalltime != null" >
        RollCallTime,
      </if>
      <if test="rollcallstatus != null" >
        RollCallStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rollcallid != null" >
        #{rollcallid,jdbcType=INTEGER},
      </if>
      <if test="classcourseid != null" >
        #{classcourseid,jdbcType=INTEGER},
      </if>
      <if test="studentcode != null" >
        #{studentcode,jdbcType=VARCHAR},
      </if>
      <if test="teachercode != null" >
        #{teachercode,jdbcType=VARCHAR},
      </if>
      <if test="rollcalltime != null" >
        #{rollcalltime,jdbcType=TIMESTAMP},
      </if>
      <if test="rollcallstatus != null" >
        #{rollcallstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclass.mybatis.po.Rollcall" >
    update rollcall
    <set >
      <if test="classcourseid != null" >
        ClassCourseId = #{classcourseid,jdbcType=INTEGER},
      </if>
      <if test="studentcode != null" >
        StudentCode = #{studentcode,jdbcType=VARCHAR},
      </if>
      <if test="teachercode != null" >
        TeacherCode = #{teachercode,jdbcType=VARCHAR},
      </if>
      <if test="rollcalltime != null" >
        RollCallTime = #{rollcalltime,jdbcType=TIMESTAMP},
      </if>
      <if test="rollcallstatus != null" >
        RollCallStatus = #{rollcallstatus,jdbcType=INTEGER},
      </if>
    </set>
    where RollCallID = #{rollcallid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclass.mybatis.po.Rollcall" >
    update rollcall
    set ClassCourseId = #{classcourseid,jdbcType=INTEGER},
      StudentCode = #{studentcode,jdbcType=VARCHAR},
      TeacherCode = #{teachercode,jdbcType=VARCHAR},
      RollCallTime = #{rollcalltime,jdbcType=TIMESTAMP},
      RollCallStatus = #{rollcallstatus,jdbcType=INTEGER}
    where RollCallID = #{rollcallid,jdbcType=INTEGER}
  </update>
  <select id="selectByTeacherCode" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    <include refid="Base_Column_List" />
    from rollcall
    where TeacherCode = #{teachercode,jdbcType=VARCHAR} ORDER BY RollCallID DESC limit #{start}, #{length}
  </select>
  <select id="selectByTeacherCodeNoLimit" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    <include refid="Base_Column_List" />
    from rollcall
    where TeacherCode = #{teachercode,jdbcType=VARCHAR} ORDER BY RollCallID DESC
  </select>
  <select id="selectByClassCourseId" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    *
    from rollcall, ClassCourseAttendTime as ccat
    WHERE ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND ccat.ClassCourseId = #{classcourseid,jdbcType=INTEGER},
  </select>
  <select id="selectByClassCourseIdAndStatus" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    <include refid="Base_Column_List" />
    from rollcall
    WHERE ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND RollCallStatus = #{rollcallstatus,jdbcType=INTEGER}
  </select>
  <select id="countByClassCourseIdAndStatus" resultType="java.lang.Integer" >
    SELECT
    count(*)
    FROM rollcall
    WHERE ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND RollCallStatus = #{rollcallstatus,jdbcType=INTEGER}
  </select>

  <select id="countByTeacherCode" resultType="java.lang.Integer" >
    SELECT
    count(*)
    FROM rollcall
    WHERE
    TeacherCode = #{teachercode,jdbcType=VARCHAR}
  </select>

  <select id="selectByClassCourseIdAndDate" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    <include refid="Base_Column_List" />
    from rollcall
    WHERE
    ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND
    RollCallTime >= #{startday} AND RollCallTime &lt; #{endday}
  </select>

  <select id="selectByClassCourseIdAndStudentCode" resultType="com.iclass.mybatis.po.Rollcall" >
    SELECT
    <include refid="Base_Column_List" />
    from rollcall
    WHERE
    ClassCourseId = #{classcourseid,jdbcType=INTEGER}
    AND
    StudentCode = #{studentcode,jdbcType=VARCHAR}
  </select>
</mapper>