<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iclass.mybatis.dao.ClasshdMapper" >
  <resultMap id="BaseResultMap" type="com.iclass.mybatis.po.Classhd" >
    <constructor >
      <idArg column="ClasshdID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClassCourseId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClasshdContent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClasshdOptions" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClasshdAnswer" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClasshdCreator" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ClasshdCreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="RightNumber" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ClasshdStatus" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ClasshdID, ClassCourseId, ClasshdContent, ClasshdOptions, ClasshdAnswer, ClasshdCreator, 
    ClasshdCreateTime, RightNumber, ClasshdStatus
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classhd
    where ClasshdID = #{classhdid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classhd
    where ClasshdID = #{classhdid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iclass.mybatis.po.Classhd" >
    insert into classhd (ClasshdID, ClassCourseId, ClasshdContent, 
      ClasshdOptions, ClasshdAnswer, ClasshdCreator, 
      ClasshdCreateTime, RightNumber, ClasshdStatus
      )
    values (#{classhdid,jdbcType=INTEGER}, #{classcourseid,jdbcType=INTEGER}, #{classhdcontent,jdbcType=VARCHAR}, 
      #{classhdoptions,jdbcType=VARCHAR}, #{classhdanswer,jdbcType=VARCHAR}, #{classhdcreator,jdbcType=VARCHAR}, 
      #{classhdcreatetime,jdbcType=TIMESTAMP}, #{rightnumber,jdbcType=INTEGER}, #{classhdstatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iclass.mybatis.po.Classhd" >
    insert into classhd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classhdid != null" >
        ClasshdID,
      </if>
      <if test="classcourseid != null" >
        ClassCourseId,
      </if>
      <if test="classhdcontent != null" >
        ClasshdContent,
      </if>
      <if test="classhdoptions != null" >
        ClasshdOptions,
      </if>
      <if test="classhdanswer != null" >
        ClasshdAnswer,
      </if>
      <if test="classhdcreator != null" >
        ClasshdCreator,
      </if>
      <if test="classhdcreatetime != null" >
        ClasshdCreateTime,
      </if>
      <if test="rightnumber != null" >
        RightNumber,
      </if>
      <if test="classhdstatus != null" >
        ClasshdStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classhdid != null" >
        #{classhdid,jdbcType=INTEGER},
      </if>
      <if test="classcourseid != null" >
        #{classcourseid,jdbcType=INTEGER},
      </if>
      <if test="classhdcontent != null" >
        #{classhdcontent,jdbcType=VARCHAR},
      </if>
      <if test="classhdoptions != null" >
        #{classhdoptions,jdbcType=VARCHAR},
      </if>
      <if test="classhdanswer != null" >
        #{classhdanswer,jdbcType=VARCHAR},
      </if>
      <if test="classhdcreator != null" >
        #{classhdcreator,jdbcType=VARCHAR},
      </if>
      <if test="classhdcreatetime != null" >
        #{classhdcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightnumber != null" >
        #{rightnumber,jdbcType=INTEGER},
      </if>
      <if test="classhdstatus != null" >
        #{classhdstatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iclass.mybatis.po.Classhd" >
    update classhd
    <set >
      <if test="classcourseid != null" >
        ClassCourseId = #{classcourseid,jdbcType=INTEGER},
      </if>
      <if test="classhdcontent != null" >
        ClasshdContent = #{classhdcontent,jdbcType=VARCHAR},
      </if>
      <if test="classhdoptions != null" >
        ClasshdOptions = #{classhdoptions,jdbcType=VARCHAR},
      </if>
      <if test="classhdanswer != null" >
        ClasshdAnswer = #{classhdanswer,jdbcType=VARCHAR},
      </if>
      <if test="classhdcreator != null" >
        ClasshdCreator = #{classhdcreator,jdbcType=VARCHAR},
      </if>
      <if test="classhdcreatetime != null" >
        ClasshdCreateTime = #{classhdcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="rightnumber != null" >
        RightNumber = #{rightnumber,jdbcType=INTEGER},
      </if>
      <if test="classhdstatus != null" >
        ClasshdStatus = #{classhdstatus,jdbcType=INTEGER},
      </if>
    </set>
    where ClasshdID = #{classhdid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iclass.mybatis.po.Classhd" >
    update classhd
    set ClassCourseId = #{classcourseid,jdbcType=INTEGER},
      ClasshdContent = #{classhdcontent,jdbcType=VARCHAR},
      ClasshdOptions = #{classhdoptions,jdbcType=VARCHAR},
      ClasshdAnswer = #{classhdanswer,jdbcType=VARCHAR},
      ClasshdCreator = #{classhdcreator,jdbcType=VARCHAR},
      ClasshdCreateTime = #{classhdcreatetime,jdbcType=TIMESTAMP},
      RightNumber = #{rightnumber,jdbcType=INTEGER},
      ClasshdStatus = #{classhdstatus,jdbcType=INTEGER}
    where ClasshdID = #{classhdid,jdbcType=INTEGER}
  </update>
</mapper>