
/* 你自己的样式 */
.span-input {
    width: 30.2%;
    border: 1px #cecdcd solid;
    display: block;
    margin-left: 33.3%;
    line-height: 167%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    background: #ebebe4;
}
.reg-alert {
    padding: 0px;
    border: 1px solid transparent;
}
.change-password-div {
    padding-top: 100px;
}
.user-add-div {
    padding-top: 50px;
}
/*将datatables处理中的提示放到表格中间了*/
.dataTables-processing {
    width:160px;
    height:56px;
    position: absolute;
    top:35%;
    left:40%;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url(../images/loading.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.readonly-input {
    background: #ebebe4;
}
.system-log-info-textarea {
    height: 224px;
    width: 243px;
    resize: vertical;
    background-color:transparent;
    color: #666;
    border:0;
}
.Validform_wrong, .Validform_warning {
    margin-left: 41%;
}
.no-file-info {
    color: #666666;
}
/*遮罩*/
.maskLayer {
    width: 100%;
    height: 900px;
    background-color: #000000;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter: alpha(opacity=50);
}
.no-highlight{
    color: #333333;
    background: #666666;
}
.r {
    padding-top: 5px;
}
.file-list-total-record {
    padding-top: 8px;
    padding-right: 10px;
}
.total-record {
    padding-top: 5px;
}
select {
    background: none;
}

