
/* 你自己的样式 */
.span-input {
    width: 33.33333%;
    border: 1px #a5a2a2 solid;
    display: block;
    margin-left: 33%;
    line-height: 167%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    background: #e2dfdf;
}


