
/* 你自己的样式 */
.span-input {
    width: 30.2%;
    border: 1px #cecdcd solid;
    display: block;
    margin-left: 33.3%;
    line-height: 167%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    background: #ebebe4;
}
.reg-alert {
    padding: 0px;
    border: 1px solid transparent;
}
.change-password-div {
    padding-top: 100px;
}
.user-add-div {
    padding-top: 50px;
}
/*将datatables处理中的提示放到表格中间了*/
.dataTables-processing {
    margin-left: 48%;
    padding-top: 3px;
}
.readonly-input {
    background: #ebebe4;
}
.system-log-info-textarea {
    height: 224px;
    width: 243px;
    resize: vertical;
    background-color:transparent;
    color: #666;
    border:0;
}
.Validform_wrong, .Validform_warning {
    margin-left: 41%;
}



